/**
 *
 * Button
 *
 */

.btn {
  @include btn;

  &-primary {
    @extend %title-h3;
    background: $primary-gradient-to-right;
    border: unset;
    color: color('white');
    font-family: $font-family-futura;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    @include tablet-up {
      @include button-size(px-to-rem(17px), px-to-rem(28px), $h3-font-size, px-to-rem(100px));
    }

    @include tablet-down {
      @include button-size(px-to-rem(10px), px-to-rem(20px), px-to-rem(16px), px-to-rem(100px));
    }
  }
}
/**
 *
 * Button Burger
 * Button Nav
 *
 */

.btn-nav {
  appearance: none;
  background: $primary-gradient-to-right;
  background-clip: text;
  border: 0;
  display: none;
  font-size: 0;
  height: px-to-rem(37px);
  line-height: 0;
  padding-top: px-to-rem(14px);
  position: relative;
  -webkit-text-fill-color: transparent;
  transition: transform $trs-slow $trs-fn-bounce;
  width: px-to-rem(40px);
  z-index: 15;

  @include tablet-down {
    display: block;
  }

  &:focus {
    outline: 0;
  }

  span::after,
  &::after,
  &::before {
    background: $primary-gradient-to-right;
    border-radius: px-to-rem(100px);
    content: '';
    height: px-to-rem(4px);
    left: 0;
    position: absolute;
    transition-duration: $trs;
    transition-property: top, transform, visibility, opacity;
    transition-timing-function: ease-in-out;
    width: 100%;
  }

  span::after {
    top: 0;
  }

  &::after {
    top: px-to-rem(11px);
  }

  &.is-active {
    span::after,
    &::after,
    &::before {
      background: $primary-gradient-to-right;
    }

    span::after {
      top: px-to-rem(6px);
      transform: rotate(45deg);
    }

    &::before {
      top: px-to-rem(6px);
      transform: rotate(-45deg);
    }

    &::after {
      opacity: 0;
      top: px-to-rem(6px);
      transform: translateX(100%);
      visibility: hidden;
    }
  }
}
