/**
 *
 * Menu Main
 *
 */
.menu-main {
  background-color: $white;
  color: #9d9897;
  display: flex;
  font-family: 'Futura Md BT';
  height: 100%;
  justify-content: space-between;
  position: relative;
  transition: all $trs-slow ease-out;

  a {
    line-height: (18/16);
    text-decoration: none;
    white-space: nowrap;
  }

  .menu-item {
    @include padding-x(px-to-rem(26px));
    align-items: center;
    border-bottom: solid 6px transparent;
    display: flex;
    justify-content: center;
    
    @include tablet-up {
      &:hover {
        border-bottom: solid 6px #00e2bf;
      }
    }
  }
}
