/**
 *
 * Animating header mobile menu open up
 *
 */
.mobile-menu-visible {
  .header__logo,
  .btn-nav {
    transform: translateX(-269px);
  }
}

/**
 *
 * Sub-menu animation opening
 *
 */
@keyframes grow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/**
 *
 * Menu Main refactor to mobile
 *
 */
@include tablet-down {
  .header__menu {
    display: block;
    height: 100vh;
    opacity: 0.95;
    position: absolute;
    right: -100%;
    top: 0;
    width: auto;
  }

  .menu-main {
    background: $primary-gradient-to-bottom;
    color: $white;
    flex-direction: column;
    justify-content: unset;
    padding-top: px-to-rem(48px);

    .menu-item {
      display: block;
      padding: 0 0 px-to-rem(48px) 0;
      transition: all $trs-slow $trs-fn-bounce;

      a {
        display: flex;
        justify-content: center;
        padding: 0 px-to-rem(84px);
      }
    }
  }

  .menu {
    .submenu-main {
      bottom: auto;
      position: static;
      transform: none;
      transition: all $trs-slow $trs-fn-bounce;
  
      &--visible { 
        animation: grow 0.5s $trs-fn-bounce forwards;
        transform-origin: top center;
      }
  
      &--nested {
        background-color: #05acdb;
        margin-top: px-to-rem(24px);
      }
      
      &--sub-nested {
        background-color: #60d0e4;
        margin-top: px-to-rem(12px);
      }
    }
  }

  .submenu-main {
    .submenu-item {
      border: unset;
      padding: px-to-rem(10px) 0;

      a {
        padding: 0;
      }
      
      &--selected {
        background-color: initial;
      }
    }
  }
}

.header__menu--slide {
  right: 0;
}
