/**
 *
 * Hero Swiper
 *
 */
.main-swiper {
  height: $hero-height-desktop;
  position: relative;
  width: 100%;

  @include tablet-down {
    height: $hero-height-mobile;
  }

  .parallax-bg {
    @include background;
    background-image: url('~@images/hero-image.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include mobile-down {
      background-image: url('~@images/hero-mobile-1x.png');
      background-position: 0 100%;
      background-size: 100vw;
    }
  }

  .swiper-slide {
    align-items: center;
    display: center;
    justify-content: center;
    text-align: center;
  }
}
