
[class^='swiper-button'] {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: $nav-arrow-width/2 $nav-arrow-height/2;
  height: $nav-arrow-height;
  position: absolute;
  top: 50%;
  width: $nav-arrow-width;
}

.swiper-button-prev {
  background-image: url('~@images/Icon ionic-ios-arrow.svg');
  left: calc(0 + 10px);
}

.swiper-button-next {
  @include arrow-rotate-right;
  background-image: url('~@images/Icon ionic-ios-arrow.svg');
  right: 0;
}
