/* ------------------------------------------------------------ *\
    Fonts: Add your @font-face here.
    Use a tool like https://transfonter.org/ to
    convert your fonts.
\* ------------------------------------------------------------ */

@font-face {
  font-display: swap;
  font-family: 'Futura Md BT';
  font-style: normal;
  font-weight: 500;
  src: url('~@fonts/font-faces/FuturaBT-Medium.woff2') format('woff2'),
    url('~@fonts/font-faces/FuturaBT-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('~@fonts/font-faces/Gotham-Black.woff2') format('woff2'),
    url('~@fonts/font-faces/Gotham-Black.woff') format('woff');
}
