.cta {
  background-image: $primary-gradient-to-right;
  height: $cta-height-desktop;
  margin-top: 30px;

  @include tablet-down {
    height: $cta-height-mobile;
  }

  &__inner {
    @include full-size-container;
    @include flex-center;
    @include padding-x(20%);

    @include desktop-md-down {
      @include padding-x(10%);
    }

    @include tablet-down {
      flex-direction: column;
    }
  }

  &__info {
    @include full-size-container;
    color: color('white');
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet-down {
      align-items: center;
      height: auto;
    }
  }

  &__title {
    font-family: $font-family-gotham;
    font-size: px-to-rem(35px);
    width: fit-content;

    @include tablet-down {
      line-height: px-to-rem(63px);
      text-align: center;
    }
  }
  
  &__content {
    font-family: $font-family-futura;
    font-size: 20px;
    max-width: 81%;
    width: fit-content;

    @include tablet-down {
      display: inline-block;
      line-height: px-to-rem(35px);
      max-height: 9em;
      overflow: hidden;
      text-align: center;
      word-wrap: break-word;
    }
  }

  &__buttons {
    width: 24%;

    @include desktop-md-down {
      width: 44%;
    }

    @include tablet-down {
      text-align: center;
      width: 100%;
    }

    @keyframes elongate {
      0% { width: 29px;}
      100% { width: 40px; }
    }

    img {
      height: auto;
    }

    button:hover img {
      animation: elongate 0.3s forwards;
    }
  }
}
