/**
 *
 * Post Content
 *
 */
.blog {
  margin-top: px-to-rem(100px);
  
  @include tablet-down {
    margin-top: px-to-rem(75px);
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.8125rem;
    max-width: none;
    width: 100%;

    @include tablet-down {
      align-items: center;
      flex-direction: column;
    }
  }

  .card-post {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 332px;
    
    @include tablet-up {
      @include margin-x(10px);
    }

    @include tablet-down {
      margin-bottom: px-to-rem(39px);
    }

    &:last-child {
      @include tablet-down {
        margin-bottom: 0;
      }
    }

    &__meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: px-to-rem(10px);

      @include tablet-down {
        margin-bottom: px-to-rem(30px);
      }

      .card-post-tag {
        @include button-size(px-to-rem(2px), px-to-rem(15px), $h5-font-size, px-to-rem(100px));
        background: #00e2bf;
        color: color('white');
        font-family: $font-family-futura;
        text-transform: uppercase;
      }

      .card-post-date {
        color: color('gray');
        font-family: $font-family-futura;
        font-size: $h4-font-size;
      }
    }
    
    &__title {
      font-family: $font-family-gotham;
      font-weight: 800;
    }

    &__inner {
      margin-top: px-to-rem(15px);
      text-align: start;
    }

    .the-content {
      font-family: $font-family-futura;
    }
  }

  .card-post__figure {
    img {
      height: auto;
      transition: filter $trs-slow ease-in;
      width: clamp(310px, 27vw, 330px);
    }
    
    img:hover {
      filter: brightness(131%) opacity(57%) contrast(96%);
    }
  }
}
