/**
 *
 * Short Content
 *
 */
.short-content {
  .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: px-to-rem(45px);
    max-width: none;
    width: 100%;

    @include tablet-down {
      align-items: center;
      flex-direction: column;
    }
  }

  .card-short-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 332px;
    
    @include tablet-up {
      @include margin-x(10px);
    }

    @include tablet-down {
      margin-bottom: px-to-rem(50px);
      width: 100%;
    }

    &:last-child {
      @include tablet-down {
        margin-bottom: 0;
      }
    }

    &__title {
      font-family: $font-family-gotham;
      font-weight: 800;
    }

    &__inner {
      text-align: center;
      @include tablet-up {
        margin-top: px-to-rem(15px);
      }
    }

    .the-content {
      font-family: $font-family-futura;
    }
  }

  .card-short-content__figure {
    img {
      @include width-height(100px);
    }
  }

}

