/**
 *
 * Options
 *
 */

// Remove Bootstrap prefix
// for CSS variables on :root.
// (by default BS insert a bs- prefix)
$variable-prefix: '';

/**
 *
 * Colors
 *
 */
$colors: (
  'light-blue': #00ffb1,
  'dark-blue': #0062ff
);
$theme-colors: ();
$primary-gradient-to-right: linear-gradient(90deg, color('light-blue'), color('dark-blue'));
$primary-gradient-to-bottom: linear-gradient(color('dark-blue'), color('light-blue'),);


// Text colors.
$body-color: #222;

/**
 *
 * Typography
 *
 */
$font-family-sans-serif: 'Helvetica Neue', sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;

// Font sizes.
$font-sizes: (
  xl: 30px,
  lg: 24px, 
  md: 20px, 
  b: 16px, 
  sm: 14px, 
  xs: 12px, 
);

$font-size-base: 1rem;

$h1-font-size: map-get($font-sizes, xl);
$h2-font-size: map-get($font-sizes, lg);
$h3-font-size: map-get($font-sizes, md);
$h4-font-size: map-get($font-sizes, b);
$h5-font-size: map-get($font-sizes, sm);
$h6-font-size: map-get($font-sizes, xs);

/**
 *
 * Transitions
 *
 */
$trs: 0.3s;
$trs-slow: 0.5s;
$trs-fn-bounce: cubic-bezier(0.26, 0.96, 0.48, 1.19);

/**
 *
 * Grid
 *
 */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

/**
 *
 * Container
 *
 */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/**
 *
 * Header
 *
 */
$header-height-desktop: 99px;
$header-height-mobile: 70px;

/**
 *
 * WordPress Breakpoints
 *
 */
$breakpoint-responsive-xs: 413px;
$breakpoint-responsive-adminbar-mobile: 600px;
$breakpoint-responsive-adminbar-tablet: 782px;

// WordPress admin bar
$adminbar-height-desktop: 32px;
$adminbar-height-tablet: 46px;
